.my-3{
    color: green;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#profile{
    color: rgb(196, 12, 241);
}

.btn {
    background-color: rgb(30, 245, 216);
}